* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
}

body {
	background: #fdfdfd;
}

.wrap {
	max-width: 1200px;
	margin: auto;
	padding: 0px 20px;
}

header {
	background: url('images/header-background.jpg') no-repeat 50% 50%;
	background-size: cover;
	height: 110px;
	position: fixed;
	top: 0;
	width: 100%;
}

	#logo {
		margin-top: 35px;
	}

	#facebook {
		display: block;
		float: right;
		margin-top: 44px;
	}

.main {
	margin-top: 110px;
}

.main .wrap {
	overflow: hidden;
	padding: 30px 20px;
}

.left-side-menu {
	width: 250px;
	float: left;
	position: fixed;
}

	.left-side-menu ul {
		list-style: none;
	}

		.left-side-menu ul li a {
			padding: 0px 30px;
			display: block;
			color: #3e3e3e;
			text-decoration: none;
			line-height: 48px;

			-webkit-transition: background 0.3s linear;
			-moz-transition: background 0.3s linear;
			-o-transition: background 0.3s linear;
			transition: background 0.3s linear;
		}

		.left-side-menu ul li a#active {
			color: #ffffff;
			background: #3f5976;
		}

		.left-side-menu ul li a:hover {
			color: #ffffff;
			background: #3f5976;
		}

.content {
	width: 880px;
	padding: 30px;
	float: right;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

	.content hr {
		border: none;
		height: 1px;
		background: #eceaea;
		margin: 30px 0px;
	}

	.content img {
		width: 50%;
		float: right;
		margin-left: 15px;
	}

	.content p {
		margin-top: 20px;
		line-height: 28px;
	}

	.content p.quote{
		font-style: oblique;
	}

	.content p.author-reference{
		margin-top: 10px;
		color: grey;
		font-style: italic;
		text-align: right;
	}

.teacher {
	float: left;
	width: 25%;
	height: 205px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	margin-bottom: 15px;
	overflow: hidden;
}

	.teacher .info {
		position: relative;
		left: -100%;
		opacity: 0;
		background: #3f5976;
		height: 100%;
		width: 100%;
		color: #ffffff;
		padding: 20px;
		font-size: 20px;

		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
	}

	.teacher:hover .info {
		left: 0%;
		opacity: 1;
	}

.schedule {
	width: 100%;
}

	.schedule th {
		text-align: left;
		padding: 10px 0px;
		border-bottom: 1px solid #eeeeee;
	}

	.schedule .day {
		font-style: italic;
		text-align: center;
		padding: 20px 0px 10px;
	}

	.schedule tr {
		
	}

		.schedule tr td {
			padding: 10px 0px;
			border-bottom: 1px solid #eeeeee;
		}

footer {
	background: #3f5976;
	color: #ffffff;
	text-align: center;
	padding: 30px 0px;
}